@import url("swiper/css");
@import url("swiper/css/navigation");
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'IRANYekan';
    font-style: normal;
    font-weight: 500;
    font-display: block;
    src: url("/font/iranyekanwebregular.woff2") format('woff2'),
    url("/font//iranyekanwebmedium.woff") format('woff'),
    url("/font/iranyekanwebbold.woff2") format('woff2'),
    url("/font/iranyekanwebextrabold.woff") format('woff');
}

@layer utilities {
    .border-none {
        border: none;
    }
    .outline-none {
        outline: none;
    }
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

:root {
    --color-icon-low-empahsis: #a1a3a8;
    --color-icon-high-emphasis: #424750;
    --color-button-primery: #ef4056;
    --color-secondary-500: #19bfd3;
}

.nav-swiper-button {
    @apply absolute top-[calc(50%-(24px+16px+2*1px)/2)] z-[2] p-2 bg-white border rounded-full cursor-pointer;
}
.nav-swiper-button-icon {
    @apply text-[var(--color-icon-high-emphasis)] opacity-70 hover:opacity-100;
}

/* start footer show more */
.show-more {
    overflow-y: hidden;
    position: relative;
    width: 100%;
    height: 125px;
}
.show-more::before {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg , transparent 50% , #fff);
}
/* end of footer show more */