@import url("swiper/css");
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'IRANYekan';
    font-style: normal;
    font-weight: 500;
    font-display: block;
    src: url("/font/iranyekanwebregular.woff2") format('woff2'),
    url("/font//iranyekanwebmedium.woff") format('woff'),
    url("/font/iranyekanwebbold.woff2") format('woff2'),
    url("/font/iranyekanwebextrabold.woff") format('woff');
}

@layer utilities {
    .border-none {
        border: none;
    }
    .outline-none {
        outline: none;
    }
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .ellipsis-2 {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    .aspect-4\/3 {
        aspect-ratio: 4 / 3;
        -eq-aspect-ratio: 4 / 3;
    }
}

:root {
    --color-icon-low-empahsis: #a1a3a8;
    --color-icon-high-emphasis: #424750;
    --color-button-primery: #ef4056;
    --color-secondary-500: #19bfd3;
}
